.weather-dashboard {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .dark-mode {
    background-color: #333;
    color: white;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    background-color: aqua;
    cursor: pointer;
  }
  
  .spinner {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .error {
    color: red;
    margin-top: 20px;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  